body {
    font-family: courier;
    background-color: #ffffe0;
}

h1 {
    text-align: center;
}
  
input {
    background: none;
    font-family: courier;
    font-size: 1.1em;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
}